<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="BlobStorageModelDataFolder" value="model-data"/>
  <add key="BlobStorageModelOutputsFolder" value="model-outputs"/>
  <add key="ModflowDataFolder" value="C:\Model"/>
  <add key="DockerAgentContainerPath" value="C:\agent"/>
  <add key="APIFunctionCode" value =""/>
  <add key="RunAnalysisUrl" value ="http://localhost:7071/api/RunAnalysis"/>
  <add key="GenerateOutputsUrl" value ="http://localhost:7071/api/GenerateOutputs"/>
  <add key="GenerateInputsQueueName" value ="generateinputsqueue"/>
  <add key="RunAnalysisQueueName" value ="runanalysisqueue"/>
  <add key="GenerateOutputsQueueName" value ="generateoutputsqueue"/>
  <add key="AzureResourceGroup" value =""/>
  <add key="AzureRegistryServer" value =""/>
  <add key="AzureRegistryUsername" value =""/>
  <add key="AzureRegistryPassword" value =""/>
  <add key="AzureContainerTcpPort" value =""/>
  <add key="AzureContainerVolumeName" value =""/>
  <add key="AzureStorageAccountName" value ="devstoreaccount1"/>
  <add key="AzureStorageAccountKey" value ="Eby8vdM02xNOcqFlqUwJPLlmEtlCDXJ1OUzFT50uSRZ6IFsuFq2UVErCz4I6tq/K1SZFPTOtr/KBHBeksoGMGw==;"/>
  <add key="FunctionClientId" value =""/>
  <add key="FunctionSecret" value =""/>
  <add key="FunctionTenantId" value =""/>
</appSettings>