<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="BravoPrimaryDatabase" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" connectionString="#{DatabaseConnectionString}#" providerName="System.Data.SqlClient" />
  <add name="AzureStorageAccount" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" connectionString="#{StorageAccountConnectionString}#"/>
  <add name="AzureWebJobsDashboard" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" connectionString="#{StorageAccountConnectionString}#" />
  <add name="AzureWebJobsStorage" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" connectionString="#{StorageAccountConnectionString}#" />
</connectionStrings>