<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="BravoPrimaryDatabase" connectionString="Data Source=.;Integrated Security=true;Initial Catalog=Bravo.Primary;" providerName="System.Data.SqlClient" />
  <add name="AzureStorageAccount" connectionString="UseDevelopmentStorage=true"/>
  <add name="AzureWebJobsDashboard" connectionString="UseDevelopmentStorage=true" />
  <add name="AzureWebJobsStorage" connectionString="UseDevelopmentStorage=true" />
</connectionStrings>